<!-- <div class="container">
  <div class="textBox">
    <h1>LinkedIn Text Formatter</h1>
  <textarea class="text-area" [(ngModel)]="inputText" placeholder="Write your text here... Your text will be automatically formatted as you type!"></textarea>
  
  </div>
  <div class="emoji-container">
    <button class="add-emojis" (click)="toggleEmojiPicker()">Add Emojis</button>
  </div>
  
  <div class="formatting-options">
    <app-text-formatter [input]="inputText"></app-text-formatter>
  </div>
</div> -->

<app-text-formatter></app-text-formatter>

<!-- <app-gemini></app-gemini> -->
